<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<meta charset="ISO-8859-1">
<title>INICIO</title>
</head>
<body>
<div class="container mt-4">

	<a th:href="@{/new}" class="btn btn-primary">Crear nuevo Usuario</a>

		<br><br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Id</th>
					<th>Nombre</th>
					<th>Email</th>
					<th>Genero</th>
					<th>Estatus</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usu:${usuarios}">
					<td></td>
					<td th:text="${usu.id}"></td>
					<td th:text="${usu.nombre}"></td>
					<td th:text="${usu.email}"></td>
					<td th:text="${usu.genero}"></td>
					<td th:text="${usu.estatus}"></td>
					<td>
						<a th:href="@{/editar/}+${usu.id}" class="btn btn-primary"><i class="bi bi-search"></i></a> 
						<a th:href="@{/eliminar/}+${usu.id}"class="btn btn-danger"><i class="bi bi-trash-fill"style="margin-left: 10px"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
</div>

</body>
</html>